In [1]:
import pandas as pd

In [2]:
url = 'tabla_estaciones.csv'
df = pd.read_csv(url)

In [7]:
df.head()

,id,name,downhill_skiing,nordic_skiing,status_id,lifts_total,runs_total,km_total,green_runs_total,blue_runs_total,red_runs_total,black_runs_total,special_runs,snowpark,special_runs_total,trineos,esqui_de_fondo
0,22001,Alp 2500,1,0,1,33,145,145.0,29,49,44,16,0,0,0,0,0
1,20,La Molina,1,0,1,16,71,71.0,20,18,22,6,0,1,0,1,0
2,19,Masella,1,0,1,17,74,74.0,9,31,22,10,0,0,0,0,0
3,16,Baqueira Beret,1,0,1,36,170,170.0,5,43,48,17,1,1,3,0,1
4,17,Boí Taüll,1,0,1,10,46,46.0,6,6,15,16,0,1,0,1,0